* {
	margin: 0;
	padding: 0;
}

@media  {
    
}
header {
	display: flex;
	justify-content: space-between;
	background-color: var(--color);
	padding-bottom: 5%;
}
nav {
	display: none;
}
body {
	display: block;
}
main {
	display: block;
	margin-bottom: 0vh;
	flex-direction: column;
}
.top {
	display: block;
}
.first {
	padding-bottom: 5%;
}
.M {
	padding-bottom: 5%;
}
.wave {
	display: block;
}
