* {
	margin: 0;
	padding: 0;
}

min {
	display: block;
	grid-template-areas: "f1";
	width: 100%;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: var(--color);
	padding-top: 5%;
	padding-bottom: 5%;
	padding: 50px;
}
nav {
	display: none;
}
body {
	display: block;
}
main {
	display: block;
	margin-bottom: 0vh;
	flex-direction: column;
	text-align: center;
	width: 100%;
	background-color:var(--color);
}
.hero {
	display: block;
	flex-direction: column;
	grid-area: f1;
}
.text {
	display: block;
	text-align: left;
	flex-direction: column;
	padding-left: 50px;
	padding-right: 35vh;
	
}
.first {
	width: 356px;
	padding-bottom: 5%;
}

.m {
	padding-bottom: 5%;
	width: 365px;
}
.uni {
	display: none;
	position: relative;
	right: 100%;
	top: 50%;
	z-index: 10;
}
.wave {
	display: block;
	width: 100%;
	height: 96px;
	padding-top: 5%;
	background-color: var(--color);
	z-index: 1;
}
@media screen and (width > 768px) {
	main {
		display: block;
		grid-template-areas: "f1";
	}

	header {
		align-items: center;
	}

	ul {
		display: flex;
		gap: 15px;
		list-style: none;
	}

	a {
		text-decoration: none;
		color: var(--color1);
	}
	a:li {
		color: green;
	}
	.thing {
		display: none;
	}
	nav {
		display: block;

		flex-direction: row;
	}
	.uni {
		display: block;
		position: absolute;
		top: 15%;
		right: 5%;
	}
	.wave {
		display: block;
		position: absolute;
	}
	.hero {
		position: relative;
	}
}
