* {
	margin: 0;
	padding: 0;
}

min {
	display: flex;
	grid-template-areas: 
	"f1"
	"f2"
	"f3";
	width: 100%;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: var(--color);
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
}
nav {
	display: none;
}
body {
	display: flex;
	flex-direction: column;
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
	text-align: center;
		
	background-color: var(--color);
}

.hero {
	display: flex;
	flex-direction: column;
	grid-area: f1;
	width: 100%;
}
.text {
	display: block;
	flex-direction: row;
	text-align: left;
	width: 75%;
	padding-left: 5%;
}
.first {
	padding-bottom: 2%;
}

.m {
	padding-bottom: 5%;
}

.uni {
	display: none;
	position: relative;
	
	top: 50%;
	z-index: 10;
}
.wave {
	display: block;
	width: 100%;
	padding-top: 5%;
	
	background-color: var(--color);
	z-index: 1;
}
.middletop {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	grid-area: f2;
}
.box{
	display: flex;
	justify-content: center;
	justify-items: center;
}
.boxone {
	padding: 12px;
	color: var(--color3);
	
	text-align: left;
	
	gap: 12px;
	background-color: var(--color1);

}
.boxtwo {
	padding: 12px;
	color: var(--color3);
	
	text-align: left;
	gap: 12px;
	background-color: var(--color1);
}
.boxthree {
	flex-direction: row;
	padding: 12px;
	color: var(--color3);
	text-align: left;
	gap: 12px;
	background-color: var(--color1);
}
.middledown {
	display: flex;
	background-color: var(--color1);
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	padding-left: 5%;
	padding-right: 5%;
	grid-area: f3;
}

.imgw {
	display: flex;
	margin: auto;
	justify-content: center;
	width: 80%;
}
.imgww{
	width: 80%;
}
.textm{
	text-align: left;
	flex-direction: column;
	
}
.downtop{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
}
.mt{
	margin-top: 2%;
	margin-bottom: 2%;
}
.cu{
	margin-bottom: 5%;
}

.eec{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.emaaddressil{
	display: flex;
	flex-direction: column;
	text-align: left;
}

.em{
	flex-direction: row;
	justify-content: center;
}

.Down{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
	background-color: var(--color1);
}
.dt{
	display: block;
	flex-direction: row;
	text-align: left;
	width: 75%;
	padding-left: 4%;
	padding-top: 5%;
}
.ddown{
	display: block;
	flex-direction: row;
	text-align: left;
	width: 75%;
	padding-left: 4%;
	padding-top: 5%;
}
.dbb{
	padding-right: 25%;
}

.box5{
	display: flex;
	flex-direction: row;
	text-align-last: left;
	
}

.carte{
	display: flex;
	flex-direction: column;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	color: var(--color3);
	background-color: var(--color1);
}
.cartei{
	width: 476px;
	padding-bottom: 5%;
	padding-top: 5%;
}
.inputt{
	display: flex;
	align-items: center;
	align-items: center;
	gap: 5%;
	
}
.inputtt{
	display: flex;
	flex-direction: column;
	text-align: left;
}
.inputttt{
	display: block;
	flex-direction: row;
	text-align: left;
	width: 50%;
}
.reason.register{
	display: block;
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	box-sizing: border-box;
}
.downtoop{
	padding-left: 10%;
}
@media screen and (width > 768px) {
	main {
		display: flex;
		grid-template-areas: 
		"f1";
		width: 100%;
	}
	header {
		align-items: center;
	}

	ul {
		display: flex;
		gap: 15px;
		list-style: none;
	}

	a {
		text-decoration: none;
		color: var(--color1);
	}
	.thing {
		display: none;
	}
	nav {
		display: block;

		flex-direction: row;
	}
	.hero {
		position: relative;
	}
	.text {
		width: 40%;
	}
	.uni {
		display: block;
		position: absolute;
		top: 15%;
		right: 5%;
	}
	.wave {
		display: block;
		position: absolute;
		top: 100%;
	}

	.middletop {
		display: flex;
		padding-top: 100%;
		flex-direction: column;
		justify-items: normal;
	}
	.box{
		padding-top: 10%;
	}
	.boxone {
		padding: 12px;
		color: var(--color3);
		width: 349px;
		text-align: left;
		padding-bottom: 2vh;
		gap: 12px;
		background-color: var(--color1);
		grid-area: f2;
		width: 50%;
	}
	.boxtwo {
		padding: 12px;
		color: var(--color3);
		width: 349px;
		text-align: left;
		padding-bottom: 2%;
		gap: 12px;
		background-color: var(--color1);
		grid-area: f3;
		width: 50%;
	}
	.boxthree {
		flex-direction: row;
		padding: 12px;
		color: var(--color3);
		width: 349px;
		text-align: left;
		padding-bottom: 2vh;
		gap: 12px;
		background-color: var(--color1);
		grid-area: f4;
		padding-left: 6%;
	}
	.onetwo {
		display: flex;
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 5%;
	}
	.middletop {
		display: flex;
		background-color: var(--color1);
		text-align: left;
		flex-direction: row;
		padding-top: 10%;
		padding-left: 5%;
		padding-right: 5%;
		color: black;
	}
	.imgw {
	display: flex;
	margin: none;
}
	.textm{
		flex-direction: row;
	}
	.AI{
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: right;
		width: 90%;
	}
	.IM{
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		text-align: left;
		width: 90%;
	}
	.PR{
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: left;
		width: 90%;
	}
	.carte{
		padding-top: 25%;
	}
	.cartes{
		display: flex;
		gap: 10%;
	}
	.downtoop{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 2%;
		padding-top: 25%;
	}
}
@media screen and (width > 1100px) {
	
	.middletop {
		display: grid;
		align-items: center;
		justify-content: center;
		justify-content: space-between;
		padding-left: 5%;
		padding-right: 5%;
	}
	.boxone {
		display: block;
		width: 349px;
		text-align: left;
	}
	.boxtwo {
		width: 349px;
		text-align: left;
	}
	.boxthree {
		width: 400px;
		text-align: left;
		padding-left: 0%;
	}
	.onetwo {
		padding: 0%;
	}
	.box {
		display: flex;
		align-items: center;
		margin-top: 10%;
	}
}
