body {
	font-family: Poppins;
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0px;
	color: var(--color1);
}
.top {
	background-color: #9260e8;
}
.free {
	display: block;
	background-color: var(--color2);
	border: solid 5px var(--color2);
	border-radius: 999px;
	width: 138px;
	size: 14px;
	padding: 12px 32px;
	
}
h1 {
	font-family: Poppins;
	font-weight: 700;
	font-style: Bold;
	font-size: 42px;
	line-height: 48px;
	letter-spacing: -0.55px;
}
h2 {
	font-family: Poppins;
	font-weight: 700;
	font-style: Bold;
	font-size: 48px;
	color: var(--color1);
	line-height: 56px;
	letter-spacing: -0.37px;
}
h3 {
	font-family: Poppins;
	font-weight: 700;
	font-style: Bold;
	font-size: 26px;

	line-height: 100%;
	letter-spacing: -0.25px;
}
h4 {
	font-family: Poppins;
	font-weight: 400;
	font-style: Regular;
	font-size: 18px;

	line-height: 100%;
	letter-spacing: -0.18px;
}
h5 {
	font-family: Poppins;
	font-weight: 400;
	font-style: Regular;
	font-size: 14px;

	line-height: 100%;
	letter-spacing: -0.18px;
}
h6 {
	font-family: Poppins;
	font-weight: 400;
	font-style: Regular;
	font-size: 12px;

	line-height: 100%;
	letter-spacing: -0.18px;
}
:root {
	--color: #9260e8;
	--color1: #ffffff;
--color2: #48d0b7;
--color3: #3a3a3a;
--color4: #cf468d;
--color4: #a2a2a2;

}

.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-style: normal;
}
